#include "Resources.h"

// ---------------------------------------------------------------------

IDI_ICON        ICON        "Resources\\game_icon.ico"
IDC_CURSOR      CURSOR      "Resources\\Cursor.cur"

// ---------------------------------------------------------------------


